[Unit]
Description=Varnish Cache HTTP accelerator NCSA logging daemon
After=varnish.service

[Service]
RuntimeDirectory=varnishncsa
Type=forking
PIDFile={{ varnishncsa_pid_file }}
User=varnishlog
Group=varnish
ExecStart={{ varnishncsa_exec_start }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

